#navbar{

    margin:10px;
}

#logo{

    height: 70px;
}

#signupContainer{

    background-image: url(../img/statue.png);
    background-position: center;
    background-size: cover;
    box-shadow: 0 5px 5px grey;

    display: flex;
    justify-content:center;
    align-items: flex-end;

    width: 450px;
    height: 650px;
    margin-top: 50px;
}

#signupUsername{

    margin-bottom: 7%;
    align-content: center;
    justify-content: center;
    text-align: center;
}

#signupPassword{

    margin-bottom: 7%;
    align-content: center;
    justify-content: center;
    text-align: center;
}

#signupConfirmPassword{

    margin-bottom: 25%;
    align-content: center;
    justify-content: center;
    text-align: center;
}

#buttonPlaceHolder{

    margin-bottom: 10%;
    display: flex;
    align-content: center;
    justify-content: center;
}